.footer {
background-color: #2c2b2b;
color: #A3A3A3;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 1rem;
}

.social-link-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}


.heart:before {
content: "\f004";
}
